/* .drawing-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.drawing-canvas {
  border: 2px solid #000;
  cursor: crosshair;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawing-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.drawing-canvas {
  border: 2px solid #000;
  cursor: crosshair;
}

.tools-container {
  margin-top: 10px;
}

.tools-container label {
  margin-right: 10px;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.button-container button:last-child {
  margin-right: 0;
}
